<link rel="stylesheet" href="assets/vendor.css">
<link rel="stylesheet" href="assets/gallary.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<body class="">
    <div id="main">
        <header id="header">
            <h1>Welcome {{model.username}}</h1>
            {{#link-to "home.edituser"}}
            <div id="edituser" class="fa edituser fontbuttons tooltip">
                <span class="tooltiptext">edit profile</span>
            </div>
            {{/link-to}}
            {{#link-to "signin"}}
            <div id="signout" class="fa signout fontbuttons tooltip">
                <span class="tooltiptext">signout</span>
            </div>
            {{/link-to}}
        </header>
        
        <section id="thumbnails">
            <article tabindex="-1" class="">
                <a class="thumbnail" href="assets/images/placeholder/haarlem.jpg" data-position="left center">
                    <img src="assets/images/thumbs/haarlemthumb.jpg" alt="">
                </a>                
            </article>
            <article tabindex="-1" class="">
                <a class="thumbnail" href="assets/images/placeholder/amsterdam.jpg" data-position="left center">
                    <img src="assets/images/thumbs/amsterdamthumb.jpg" alt="">
                </a>                
            </article>
            <article tabindex="-1" class="">
                <a class="thumbnail" href="assets/images/placeholder/boats.jpg" data-position="left center">
                    <img src="assets/images/thumbs/boatsthumb.jpg" alt="">
                </a>                
            </article>
            <article tabindex="-1" class="">
                <a class="thumbnail" href="assets/images/placeholder/calise.jpg" data-position="left center">
                    <img src="assets/images/thumbs/calisethumb.jpg" alt="">
                </a>                
            </article>
            <article tabindex="-1" class="">
                <a class="thumbnail" href="assets/images/placeholder/lego.jpg" data-position="left center">
                    <img src="assets/images/thumbs/legothumb.jpg" alt="">
                </a>                
            </article>
        </section>
        
        <footer id="footer">
            <span>Gallery 
                    <i class="fa fa-code"></i>
                    by 
                    <a href="https://nl.linkedin.com/in/laurent-greyling-90164963">Laurent
                    </a>
                </span>        
        </footer>
        <div class="toggle" onclick="$('body').addClass('fullscreen')"></div>
    </div>

        
        <div id="viewer">
        <div class="inner">
            <div class="nav-next"></div>
            <div class="nav-previous"></div>
            <div class="toggle" onclick="$('body').removeClass('fullscreen')"></div>
        </div>
        <div class="slide active">
            <div class="caption">
                <h2>Christmas Market Haarlem</h2>
                <p>The Christmas markets in the Netherlands offer a variety of goods for sale. One such Market
                    is the christmas market of 2015 in Haarlem. A small town situated around 18km west from Amsterdam.
                </p>
            </div>
            <div class="image">
                <img src="assets/images/placeholder/haarlem.jpg" style="width:119%; height:100%;">
            </div>
        </div>
    </div>
</body>

{{outlet}}
