
<link rel="stylesheet" href="assets/vendor.css">
<link rel="stylesheet" href="assets/gallery.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<body class="">
    <div id="main">
        <header id="header">
            <h1>Gallery</h1>        
        </header>
                <form {{action "getUser" model on="submit"}}>
                    <h1 class="title">Login</h1>
                    {{#if (unverified model.unverified)}}
                    <div class="warning">
                        <i class="fa warningText"/> Incorrect user name or password
                    </div>
                    {{/if}}
                    
                    <div class="extrapadding">
                        {{input type="text" id="UserName" required=true value=model.username}}
                    </div>
                        <label class="userlabels">Username</label>
                    <div class="extrapadding"> 
                        {{input type="password" id="password" required=true value=model.password}}
                    </div>
                        <label class="userlabels">Password</label>
                    
                    <div class="extrapadding">
                       <button type="submit" id="signIn"><span>Go</span></button>
                       {{#link-to "signup.signup-page"}}<button id="signUp"><span>Register</span></button>{{/link-to}}                     
                    </div>
                </form>
        <footer id="footer">
            <span>Gallery 
                    <i class="fa fa-code"></i>
                    by 
                    <a href="https://nl.linkedin.com/in/laurent-greyling-90164963">Laurent
                    </a>
                </span>        
        </footer>
        <div class="toggle" onclick="$('body').addClass('fullscreen')"></div>
    </div>
    <div id="viewer">
        <div class="inner">
            <div class="toggle" onclick="$('body').removeClass('fullscreen')"></div>
        </div>
        <div class="slide active">
            <div class="image">
                <img src="assets/images/placeholder/haarlem.jpg">
            </div>
        </div>
    </div>
</body>
{{outlet}}

