
<link rel="stylesheet" href="assets/vendor.css">
<link rel="stylesheet" href="assets/gallery.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


    <div class="pen-title">
        <h1>Welcome To My First Ember</h1>        
    </div>
    <br>
    <div class="container">
        <div class="card"></div>
        <div class="card">
            <form {{action "getUser" model on="submit"}}>
                <h1 class="title">Login</h1>
                {{#if (unverified model.unverified)}}
                <div class="warning">
                    <i class="fa warningText"/>
                    <label>Incorrect user name or password</label><br>
                </div>
                {{/if}}
                <div class="input-container">
                    {{input type="text" id="UserName" required=true value=model.username}}
                    <label for="UserName">Username</label>
                    <div class="bar"></div>
                <br>
                </div>
                <div class="input-container">
                    {{input type="password" id="password" required=true value=model.password}}
                    <label for="password">Password</label>
                    <div class="bar"></div>
                <br>    
                </div>
                
                <div class="button-container">
                    <!--<input type="submit" id="signIn" value="SignIn" class="button-container"/>-->
                    <button type="submit" id="signIn"><span>Go</span></button>                    
                </div>
                <div class="card alt">
                        {{#link-to "signup.signup-page"}}<div id="signUp" class="toggle"></div>{{/link-to}}                  
                </div>
            </form>
        </div>
        
    </div>    

<div class="pen-title">
    <span>Picclic 
            <i class="fa fa-code"></i>
             by 
             <a href="https://nl.linkedin.com/in/laurent-greyling-90164963">Laurent
             </a>
        </span>        
</div>

{{outlet}}
